.ui-content {
    padding: 8px 10px 8px 5px;
}

h1 { 
	font-size: 24px;
}

/* content areas */
.content-wrap {
	padding: 28px 10px 8px 10px;
}

/* header styles */
div[data-role=header] .logo {
	width: 56%;
    margin-top: 12px;	
}

div[data-role=header]  h1.logo {
	width: 83px;
	height: 32px;
	background: url('../assets/images/ccv-logo-only.png') no-repeat left center;
}

.feature {
    margin: 0;
}

.feature-image {
    background-size: 415px 174px;
    height: 174px;
    background-repeat: no-repeat;
}

.grid-block {
	width: 100%;
	float: none;
    margin: 0 0 12px 0;
    height: 100px;
}

.grid-block h2 {
	margin-top: 6px;
}

div#group-map #map-canvas {
	width: 100%;
	height: 250px;
}

div[data-role=footer] .right {
    display: none;
}

div[data-role=footer] .cell {
    width: 100%;
    margin-left: 10%;
}

div[data-role=footer] div[data-role=controlgroup] {
    float: none;
    text-align: center; /* center align phone and website buttons */
}

/* about us */
div#campus-map-canvas {
	height: 280px;
}

.campus-info-window h2 {
	font-size: 18px;
}

.campus-info-window {
	font-size: 16px;
	padding: 0;
}

.campus-times li {
	float: none;
	width: 100%;
	margin-top: 24px;
}

.campus-times li:first-child {
	margin-top: 0;
}

ul.campus-times .times {
	height: auto;
}

.invite-button {
	margin-top: 18px
}

.invite-button:last-child {
	margin-bottom: 0;
}

.connect-online a {
	width: 70px;
	height: 68px;
	margin-right: 24px;
	margin-bottom: 24px;
	display: block;
	float: left;
}

/* prayer */
.prayer-header h1 {
	width: 100%;
}

.prayer-header a {
	width: 100%;
}

/* group finder */
a.group-search-type {
	width: 100%;
	float: none;
}

a#search-using-address {
	float: none;
}

.address-wrap input[id=city] {
	width: 40%;	
}
.address-wrap span.state {
	margin: 10px 12px 0 12px;
}

.address-wrap input[id=zipcode] {
	width: 30%;	
}

div.map-wrap {
	min-width: 100%;
	height: 285px;
}

.group-details {
	float: left;
	width: 55%;
}

.group-actions {
	float: right;
	width: 42%;
	margin: 0 auto;
}

.group-actions a {
	font-size: 10px;
}


/* notes / podcast */
.list-details .heading img {
	float: none;
	margin:0 auto;
	margin-top: 10px;
    height: 100px;
    width: 160px;
    clear: both;
    text-align: center;
    display: block;
}

.list-details .heading .summary {
	margin-top: 0;
	float: none;
	width: 100%;
}

.list-details .heading {
	width: 100%;
	float: none;
}

.list-details .heading .speaker {
	width: 45%;
	float: right;
	text-align: right;
}

.list-details .heading .date {
	width: 45%;
	float: left;
}

.list-details  .description {
	float: none;
	margin-left: 0;
	font-size: 13px;
	clear: both;
}

.list-details .heading .note-button {
	margin-top: 0;
	width: 100%;
}

.notes-wrap {
	padding: 6px;
}

.notes-wrap header {
	margin-left: 0;
}

#notes-detail {
	font-size: 18px;
}

#notes-detail .fill-in {
	border-radius: 0.6em;
	border: 1px solid #AAAAAA;
	--margin: 6px 10px 6px 10px;
	padding: 2 0 0 4px;
}


#notes-detail input.entry {
    line-height: 1.1;
    font-size: 18px;
    padding: 0;
    width: 100px;
}

#notes-detail h2 {
	font-size: 20px;
}

#notes-detail a.answer {
	height: 30px;
	background-position: -140px 52%;
	margin-top: 0px;
}

#notes-detail ul li, #notes-detail ol li {
	margin-bottom: 40px;
}

#notes-detail ul li li, #notes-detail ol li li, #notes-detail .compressed li {
	margin-bottom: 4px;
}

#notes-detail input.entry.small, #notes-detail .note.small {
	width: 70px;
}

#notes-detail input.entry.medium, #notes-detail .note.medium {
	width: 100px;
}

#notes-detail input.entry.large, #notes-detail .note.large {
	width: 150px;
}

#notes-detail input.entry.x-large, #notes-detail .note.x-large {
	width: 220px;
}

#notes-detail input.entry.xx-large, #notes-detail .note.xx-large {
	width: 308px;
}

/* notes free-form */
#notes-detail article.free-form {
	width: 262px;
	right: -232px;
}
#notes-detail article.free-form .note-wrap {
	width: 198px;
}


/* footer */


/* landscape overrides */

@media only screen and (min-width : 321px) {

	.feature-image {
	    background-size: 550px 232px;
	}

}

