<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>www.ccvonline.com</string>
	<string>www.facebook.com</string>
	<string>www.twitter.com</string>
	<string>podcasts.ccvonline.com</string>
	<string>www.vimeo.com</string>
	<string>www.youtube.com</string>
</array>
</plist>
